.box{
    display: flex;
    margin-top: -450px;
    flex-wrap: wrap;
    max-width: 2000px; /* Giới hạn chiều rộng của .box */
}
.done{
    width: 250px;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 40px;
    border: solid  rgba(19, 182, 73, 0.1);
    border-top-left-radius:10px;
    border-top-right-radius:10px ;
    background-color: white;
    
}
.order-monoi{
    display: flex;
    margin-top: 200px;
    margin-left: 800px;
}
.list-check-box{
    margin-left: 1500px;
}

.footer {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 70px;
  }
  
  .footer-col {
    padding: 0 20px;
  }
  
  .footer-col ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-col ul li {
    margin: 10px 0;
  }
  
  .footer-col ul li a {
    text-decoration: none;
    color: #1890ff;
  }
  
  .footer-col ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
  }
  
  .footer-col-home-page ul{
    display: block;
  }