.box{
    display: flex;
    margin-left: 230px;
    margin-right: 200px;
    margin-top: 50px;
    flex-wrap: wrap;
    max-width: 2000px; /* Giới hạn chiều rộng của .box */
}
.done{
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.order-monoi{
    display: flex;
    margin-top: 150px;
    margin-left: 100px;
}