/* Đảm bảo slider chứa nội dung với chiều rộng 100% */
.slider-container-v2 {
    width: 100%;

    padding-top: 150px;

  }
  
  /* Đảm bảo các phần tử bên trong slider chiếm toàn bộ chiều rộng */
  .slick-slide {
    display: flex;
    justify-content: center; /* Căn giữa các ảnh */
    align-items: center; /* Căn giữa các ảnh theo chiều dọc */
    width: 400px;
  }
  
  /* Đảm bảo ảnh có kích thước tối ưu và không bị co kéo */
  .slick-slide img {
    max-width: 40%;
    height: auto;
    border-radius: 8px; /* Thêm bo tròn các góc của ảnh */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng đổ cho ảnh */
  }
  
  div.slick-slide.slick-active.slick-current{
    height: 400px;
  }