/* Footer styles */
.footer-home-page {
    background-color: #f0f2f5;
    color: #333;
    padding-left: 210px;
}

/* Container for the titles */
.footer-titles-container {
    display: flex;
    justify-content: space-between; /* Distribute space evenly between titles */
    margin-bottom: 20px;
}

/* Individual title styling */
.footer-title {
    font-size: 18px;
    font-weight: bold;
    color: #1890ff;
    padding-bottom: 10px;
    border-bottom: 2px solid #1890ff;
}

/* List styles */
.footer-col-home-page ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-col-home-page li {
}

/* Link styles */
.footer-col-home-page a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.footer-col-home-page a:hover {
    color: #1890ff;
    transform: translateX(5px);
}

/* Social media links */
.social-media-links a {
    font-size: 16px;
}

.social-media-links svg {
    margin-right: 10px;
    font-size: 18px;
}

/* Contact information */
.footer-col-home-page:last-child .ant-typography {
    display: block;
    margin-bottom: 8px;
}

/* Footer bottom */
.footer-bottom-home-page {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}

.footer-bottom-home-page .ant-typography {
    color: #666;
}
